input{
    margin-left:10%;
    width: 60%;
    height:50px;
}

button{
    height:50px;
}

img{
    height: 300px;
    margin-left: 40%;
}
P{

    text-align: center;
    color: black;
    font-size: 30px;

}
