<<<<<<< HEAD
input{
    margin-left:10%;
    width: 60%;
    height:50px;
}

button{
    height:50px;
}

img{
    height: 300px;
    margin-left: 40%;
}
P{

    text-align: center;
    color: black;
    font-size: 30px;

}
=======
input{
    margin-left:10%;
    width: 60%;
    height:50px;
}

button{
    height:50px;
}

img{
    height: 300px;
    margin-left: 40%;
}
P{

    text-align: center;
    color: black;
    font-size: 30px;

}
>>>>>>> 88c49ccd6ad850de3c31feef1c530e1e8efd0c45
